@import "base.css";@import "top.css";@import "bottom.css";.con{width:1201px;margin:0 auto;}
.block{border:0;}
.main{padding-bottom:20px;}
.left{width:214px;float:left;margin-top:10px;}
.right{width:985px;float:left;position:relative;left:5px;}
.left .block{border:1px solid #ddd;border-top:0;margin-bottom:0;}
.blo1{}
.blo1 .title{background:url(../images/ejfl/ejfl.png) 0px 0px;color:#FFF;text-align:center;height:30px;}
.blo2{}
.blo2 .title{color:#f60200;background:url(../images/ejfl/ejfl.png) 0px -50px;padding-left:15px;}
.blo2 .module{padding-top:4px;}
.blo2 .module ul{width:210px;position:relative;left:10px;}
.blo2 .module li{height:30px;width:68px;display:inline-block;float:left;overflow:hidden;line-height:30px;}
.blo3{}
.blo2.blo3 .title{color:#000;border-top:1px solid #ddd;background:url(../images/ejfl/ejfl.png) 0px -49px;}
/*blo6*/
.blo6{margin-top:15px;}
.blo6 .module{border:#adadad 1px solid;padding-top:0;}
.blo6 .h2{background:url(../images/index/index.png) -600px -100px;height:29px;line-height:29px;text-indent:15px;font-size:14px;font-weight:bold;color:#9c2426;}
.blo6 dl{margin-bottom:4px;}
.blo6 dl dt{background:url(../images/index/index.png) 0px -200px;height:29px;line-height:28px;position:relative;border-top:1px #ddd solid;}
.blo6 dl dd{position:relative;display:none;}
.blo6 dl q{background:url(../images/index/index.png) -400px -200px;width:19px;height:19px;line-height:15px;color:#404040;top:5px;left:15px;text-indent:5px;font-family:"微软雅黑";font-size:8px;position:absolute;}
.blo6 dl q.q1{color:#FFF;background:url(../images/index/index.png) -250px -200px;}
.blo6 dl q.q2{color:#FFF;background:url(../images/index/index.png) -300px -200px;}
.blo6 dl q.q3{color:#FFF;background:url(../images/index/index.png) -350px -200px;}
.blo6 dl div{width:165px;margin:0 auto;}
.blo6 dl .t{text-indent:20px;}
.blo6 .module{padding:0;}
.blo6 .module .img{text-align:center;height:135px;padding-top:10px;}
.blo6 .module .txt{line-height:16px;}
.blo6 .module .txt b{color:#F00;font-weight:normal;}
.blo6 .module .btn{text-indent:-45px;height:20px;color:#999;overflow:hidden;text-align:left;}
.blo6 .module .btn b{color:#F00;}
.blo6 .module .mimg{border-top:1px solid #ddd;text-align:center;height:100px;}
.blo6 .module .mimg img{margin-top:4px;}
.blo4{float:left;width:980px;height:285px;position:relative;top:10px;}
#slide1{width:980px;height:280px;position:relative;box-shadow:3px 3px 4px #ddd;}
#slide1 .JQ-content-box{overflow:hidden;width:980px;height:280px;position:relative;}
#slide1 .JQ-content-box .JQ-slide-content{position:absolute}
#slide1 .JQ-content-box .JQ-slide-content li{zoom:1;overflow:hidden;width:980px;height:280px;float:left;vertical-align:text-top;}
#slide1 .JQ-content-box .JQ-slide-content li img{}
#slide1 .JQ-slide-nav{position:absolute;height:42px;bottom:10px;right:30px;width:400px;}
#slide1 .JQ-slide-nav ul{z-index:3;position:absolute;right:0px;bottom:0px;}
#slide1 .JQ-slide-nav li{cursor:pointer;float:left;width:16px;text-align:center;line-height:16px;height:16px;color:#333;background:#efefef;margin-right:6px;border:1px solid #ff9000;}
#slide1 .JQ-slide-nav li.on{float:left;background:#C93;color:#FFF;}
#slide1 .JQ-slide-nav .more{position:absolute;top:-5px;left:20px;z-index:2;}
#slide1 .JQ-slide-nav .more a{color:#ddd;}
#slide1 .JQ-slide-nav .bg{z-index:1;background:#000;filter:alpha(opacity=30);left:0;opacity:0.3;width:715px;position:absolute;bottom:0px;height:33px;}
.blo5{float:left;width:310px;height:285px;margin-top:10px;display:none;}
/*.blo7*/
.blo7{float:left;width:100%;border:1px solid #ddd;overflow:hidden;}
.blo7 .title{background:#f6f6f6;border-bottom:1px solid #ddd;height:32px;padding-left:0px;}
.blo7 .title ul{width:995px;position:absolute}
.blo7 .title li{width:195px;height:32px;float:left;text-align:center;position:relative;background:url(../images/ejfl/ejfl.png) 0px -100px;margin-right:2px;}
.blo7 .title li q{position:absolute;right:0;color:#ddd;font-size:20px;top:0;}
.blo7 .title li b{float:left;}
.blo7 .title li.on{color:#FFF;background:url(../images/ejfl/ejfl.png) 0px -150px;border:0;border-left:1px solid #ddd;border-right:1px solid #ddd;margin-top:1px;}
.blo7 .title li.on q{display:none;}
.blo7 .module{padding:0;min-height:210px;width:985px;}
.blo7 .module ul{width:1000px;}
.blo7 .module li{height:210px;width:196px;float:left;border-left:1px solid #ddd;border-bottom:1px solid #ddd;padding-bottom:5px;}
.blo7 .module li div{width:140px;margin:0 auto;}
.blo7 .module li .img{height:140px;padding-top:5px;margin-top:10px;position:relative;}
.blo7 .module li .img q{position:absolute;top:-7px;right:-19px;width:50px;height:50px;z-index:2;}
.blo7 .module li .img q.xp{background:url(../images/ejfl/ejfl.png) -0px -200px;}
.blo7 .module li .img q.mqjb{background:url(../images/ejfl/ejfl.png) -50px -200px;}
.blo7 .module li .img q.zj{background:url(../images/ejfl/ejfl.png) -100px -200px;}
.blo7 .module li .img q.rm{background:url(../images/ejfl/ejfl.png) -150px -200px;}
.blo7 .module li .img q.xszk{background:url(../images/ejfl/ejfl.png) -200px -200px;}
.blo7 .module li .txt{height:30px;overflow:hidden;line-height:16px;}
.blo7 .module li .btn{height:18px;color:#999;text-indent:-47px;overflow:hidden;}
.blo7 .module li .btn b{color:#F00;}
/*.blo8*/
.blo8.red .title li.on{color:#F00;font-weight:bold;}
.blo8.green .title li.on{color:#027e25;}
.blo8.blue .title li.on{color:#0050a4;}
.blo8.yellow .title li.on{color:#ef8200;}
.blo8{float:left;width:985px;border:1px solid #ddd;overflow:hidden;}
.blo8 .title{background:#f6f6f6;border-bottom:1px solid #ddd;overflow:visible;height:32px;}
.blo8 .title ul{position:relative;height:32px;top:1px;}
.blo8 .title li{width:140px;height:32px;float:left;text-align:center;border-right:1px solid #ddd;font-weight:normal;}
.blo8 .title li q{position:absolute;right:0;color:#ddd;font-size:20px;top:0;display:none;}
.blo8 .title li b{float:left;}
.blo8 .title li.on{background:#fff;border:0;border-left:1px solid #ddd;border-right:1px solid #ddd;z-index:30;}
.blo8 .title li.on q{display:none;}
.blo8 .module{padding:0;width:985px;}
.blo8 .module ul{width:1005px;}
.blo8 .module li{width:196px;float:left;border-left:1px solid #ddd;border-bottom:1px solid #ddd;padding-top:10px;padding-bottom:10px;}
.blo8 .module li div{width:140px;margin:0 auto;}
.blo8 .module li .img{height:140px;padding-top:5px;margin-top:10px;position:relative;}
.blo8 .module li .txt{height:30px;overflow:hidden;line-height:16px;}
.blo8 .module li .btn{height:18px;text-align:left;color:#999;text-indent:-45px;overflow:hidden;}
.blo8 .module li .btn b{color:#F00;}
