@import "base.css";@import "top.css";@import "bottom.css";.con{width:1201px;margin:0 auto;}
.block{border:0;}
.main{padding-bottom:20px;}
/*blo1*/
.blo1{
	padding-top:14px;
}
.blo1 .titletext{ color:#404040;font-size:18px; font-family:"微软雅黑"; margin-right:10px;}
.blo1 .titlemore{ color:#5a9dde; float:left; font-size:12px;}
.blo1 .module{
}

/*blo2*/
.head{ margin:0 auto; text-align:center;}
.contain{
	margin:0 auto;
	width:1185px;
	margin-bottom:20px;
	border:3px solid #aacded;
	border-top:0;
}
.contain label{ color:#005ea7; cursor:pointer;}
.contain .edit{
	border-top:2px solid #aacded;
	border-bottom:2px solid #aacded;
	width:1130px;
	margin:0 auto;
	margin-bottom:10px;
}
.contain .show{
	border-top:2px solid #aacded;
	border-bottom:2px solid #aacded;
	width:1130px;
	margin:0 auto;
	margin-bottom:10px;
}
.contain1{
	padding-top:20px;
	margin-bottom:10px;
}
.contain .edit .titletext{ font-size:14px;}
.contain .edit .titlemore{ float:left; font-weight:normal;}
.contain .show .titletext{ font-size:14px;}
.contain .show .titlemore{ float:left; font-weight:normal;}
.contain1 .edit .list{ border:1px dashed #aacded; width:1050px; margin:0 auto;}
.contain1 .edit .list .h2{ padding-left:10px; line-height:26px; color:#87b4c9; font-weight:bold;}
.contain1 .edit .list ul{ }
.contain1 .edit .list li{padding-left:20px; color:#87b4c9; line-height:22px;}
.contain1 .edit .list li:hover label{ display:inline;}
.contain1 .edit .list li.on{ background:#eff5f8;}
.contain1 .edit .list li label{ margin-left:10px; display:none;}
.contain1 .edit .list li input{ margin-right:10px;}
.contain1 .edit .module{ padding-left:50px;}
.contain1 .show .module{ padding-left:50px; line-height:20px; margin-bottom:10px;}
.contain1 .edit .module div{
	line-height:30px;
	display: block;
}
.contain1 .edit .module div span{
	color:#404040;
	left:0;
	top: 0px;
}
.contain1 .edit .module div input{ margin-right:8px;}
.contain1 .edit .btn{ margin-bottom:15px;padding-left:20px;}
.contain1 .edit .btn input{ width:187px; height:30px; background:url(../images/gmlc2/btn.png); border:0;}
.contain2 .edit{}
.contain2 .edit .pay{}
.contain2 .edit .pay .h2{
	line-height:30px;
	font-weight:bold;
	padding-left:30px;
	height: 30px;
}
.contain2 .edit .pay .h2 .titletext{ width:300px;}
.contain2 .edit .pay .h2 .titlemore{}
.contain2 .edit .pay ul{}
.contain2 .edit .pay ul li{
	padding-left:35px;
	line-height: 20px;
}
.contain2 .edit .pay ul li input{ margin-right:5px;}
.contain2 .edit .pay ul li span{ margin-left:220px;}
.contain2 .edit .take .h2{
	line-height:30px;
	font-weight:bold;
	padding-left:30px;
	height: 30px;
}
.contain2 .edit .take .h2 .titletext{margin-right:100px;}
.contain2 .edit .take .h2 .titlemore{}
.contain2 .edit .take .h2 .titlemore span{ margin-right:100px;}
.contain2 .edit .take ul{}
.contain2 .edit .take ul li{
	padding-left:35px;
	line-height: 24px;
}
.contain2 .edit .take ul li input{ margin-right:5px;}
.contain2 .edit .take ul li span{
	margin-left: 80px;
}
.contain2 .edit .takelist{
	padding-left:20px;
	border:1px dashed #aacded;
	width:950px;
	margin:0 auto;
	margin-bottom:30px;
	background: #fff;
}
.contain2 .edit .takelist span{
	line-height:30px;
	padding-left:0;

}
.contain2 .edit .takelist .red{
	color:#b00000;
	float: left;
}
.contain2 .edit .btn{ margin-bottom:15px;padding-left:20px;}
.contain2 .edit .btn input{ background:url(../images/gmlc2/zhifu.png); width:247px; height:30px; border:0; cursor:pointer;}
.contain2 .show .module{ padding-left:50px; line-height:20px; margin-bottom:10px;}

.contain3 .edit{}
.contain3 .edit .pay{}
.contain3 .edit .pay .h2{
	line-height:30px;
	font-weight:bold;
	padding-left:30px;
	height: 30px;
}
.contain3 .edit .pay .h2 .titletext{ width:300px;}
.contain3 .edit .pay .h2 .titlemore{}
.contain3 .edit .pay ul{

}
.contain3 .edit .pay ul li{
	padding-left:35px;
	line-height: 26px;
}
.contain3 .edit .pay ul li input{ margin-right:5px;}
.contain3 .edit .pay ul li span{
	margin-left:0px;
}
.contain3 .edit .take .h2{
	line-height:30px;
	font-weight:bold;
	padding-left:30px;
	height: 30px;
}
.contain3 .edit .take .h2 .titletext{margin-right:100px;}
.contain3 .edit .take .h2 .titlemore{}
.contain3 .edit .take .h2 .titlemore span{ margin-right:100px;}
.contain3 .edit .take ul{}
.contain3 .edit .take ul li{
	padding-left:35px;
	line-height: 24px;
}
.contain3 .edit .take ul li input{ margin-right:5px;}
.contain3 .edit .take ul li span{
	margin-left: 80px;
}
.contain3 .edit .takelist{
	padding-left:20px;
	border:1px dashed #aacded;
	width:950px;
	margin:0 auto;
	margin-bottom:30px;
	background: #fff;
}
.contain3 .edit .takelist span{
	line-height:30px;
	padding-left:0;

}
.contain3 .edit .takelist .red{
	color:#b00000;
	float: left;
}
.contain3 .edit .btn{ margin-bottom:15px;padding-left:20px;}
.contain3 .edit .btn input{ background:url(../images/gmlc2/zhifu.png); width:247px; height:30px; border:0; cursor:pointer;}
.contain3 .show .module{ padding-left:50px; line-height:20px; margin-bottom:10px;}
/*blo2*/
.blo2{
	margin-top:14px;
	margin-left: 30px;
	margin-right: 30px;
}
.blo2 .title{
	padding:0;
	color:#404040;
	line-height:28px;
	height:28px;
	
}
.blo2 .titletext{
}
.blo2 .titlemore{ float:right; }
.blo2 .titlemore a{color:#5a9dde;}
.blo2 .table{
	font-size:14px;
	
}
.blo2 .thead{
	height:34px;
	line-height:33px;
	background: #fff4d7;
	border-bottom:1px solid #ccc;
}
.blo2 .thead li{}
.blo2 .thead li div{float:left; color:#404040;font-size:14px;}
.blo2 .thead li div:nth-child(1){  width:170px; padding-left:30px;}
.blo2 .thead div:nth-child(2){width:480px;}
.blo2 .thead li div:nth-child(3){ width:80px;}
.blo2 .thead li div:nth-child(4){ width:80px;}
.blo2 .thead li div:nth-child(5){ width:80px;}
.blo2 .thead li div:nth-child(6){ width:80px;}
.blo2 .thead li div:nth-child(7){ width:80px;}
.blo2 .tbody li{
	border-bottom:1px solid #ddd;
	height:30px;
	line-height:30px;
	background:#fffddd;
}
.blo2 .tbody li div{ float:left; color:#555; }
.blo2 .tbody li div:nth-child(1){ width:100px;text-align:center;}
.blo2 .tbody li div:nth-child(2){ width:580px; color:#404040;}
.blo2 .tbody li div:nth-child(3){ width:80px; }
.blo2 .tbody li div:nth-child(4){width:80px;}

.blo2 .tbody li div:nth-child(5){ width:80px;}

.blo2 .tbody li div:nth-child(6){ width:80px;color:#999;}
.blo2 .tbody li div:nth-child(7){width:80px; color:#b00000;}
.blo2 .tbody li div:nth-child(8){ }
/*.blo3*/
.blo3{
	margin-top:14px;
	margin-left: 30px;
	margin-right: 30px;
}
.blo3 .title{
	padding:0;
	color:#404040;
	line-height:28px;
	height:28px;
	
}
.blo3 .module{ border-top:2px solid #ebcca0; background:#fff4d7; padding-top:20px; margin-bottom:10px;}
.blo3 .module .h2{ height:30px; line-height:30px; margin-left:30px; margin-right:30px; border-bottom:1px dashed #ebcca0;}
.blo3 .module .youhui{margin-left:30px; margin-right:30px;line-height:30px;}
.blo3 .module .youhui .show1{ padding-left:10px; color:#c68600; font-size:14px;}
.blo3 .module .youhui .hide1{ padding-left:30px;}
.blo3 .module .youhui .show2{ padding-left:10px;color:#c68600;font-size:14px;}
.blo3 .module .youhui .hide2{ padding-left:30px;}
.blo3 .module .youhui .button{ background:#e43f42; width:50px; height:24px; border:0; color:#fff; margin-left:10px;}

/*.blo4*/
.blo3 .btn{ text-align:right; margin-bottom:30px;}
.blo3 .btn .h2{ line-height:30px; font-size:18px; font-weight:bold; margin-bottom:10px;}
.blo3 .btn .h2 span{ color:#b00000;}
.blo3 .btn input{ background:url(../images/gmlc2/tjdd.png); width:160px; height:49px; border:0; cursor:pointer;}
