@import "base.css";@import "top.css";@import "bottom.css";.con{width:1201px;margin:0 auto;}
.block{border:0;}
.main{padding-bottom:20px;}
/*blo1*/
.blo1{margin-top:14px;}
.blo1 .module{height:29px;padding:0;overflow:hidden;position:relative;border-left:1px solid #ddd;}
.blo1 .module ul{position:absolute;left:-20px;}
.blo1 .module li{line-height:29px;font-size:13px;text-indent:30px;float:left;width:174px;font-family:"微软雅黑";color:#404040;background:url(../images/gwc/gwc.png) 0px 0px;}
.blo1 .module li.on{background:url(../images/gwc/gwc.png) 0px -50px;color:#FFF;}
/*blo2*/
.blo2{margin-top:14px;}
.blo2 table{border:1px solid #bfbebf;border-top:0;width:100%;}
.blo2 thead{color:#666;font-weight:bold;height:31px;background:url(../images/gwc/gwc.png) 0px -100px;line-height:31px;}
.blo2 tbody td{height:86px;border-bottom:1px dashed #ddd;}
.blo2 tbody .d1 input{margin-left:20px;}
.blo2 tbody .d2{color:#06C;text-indent:10px;vertical-align:middle;}
.blo2 tbody .d2 img{float:left;border:1px #ddd solid;vertical-align:middle;}
.blo2 tbody .d3{font-size:14px;color:#cb120d;}
.blo2 tbody .d4{text-align:center;}
.blo2 tbody .d4 input{width:50px;height:20px;float:left;margin-right:5px;}
.blo2 tbody .d4 span{width:20px;float:left;}
.blo2 tbody .d4 q{border:1px solid #ddd;line-height:15px;text-align:center;font-size:12px;font-weight:bold;cursor:pointer;padding-left:3px;padding-right:3px;height:15px;width:10px;margin-right:10px;margin-bottom:5px;display:table-row;float:left;}
.blo2 tbody .d5{font-size:14px;color:#cb120d;}
.blo2 tbody .d6 b{line-height:20px;font-weight:normal;margin-right:10px;}
.blo2 tfoot{background:#f3f3f3;height:52px;text-align:right;line-height:52px;}
.blo2 tfoot .ft1{font-size:14px;font-weight:bold;padding-left:10px;color:#666;cursor:pointer;}
.blo2 tfoot .ft2{font-size:14px;font-weight:bold;color:#666;}
.blo2 tfoot label{margin-right:10px;}
.blo2 tfoot label span{color:#d20000;font-weight:bold;}
/*blo3*/
.blo3{float:left;margin-top:5px;width:100%;height:60px;}
.blo3 .module{float:right;width:190px;}
.blo3 .jxgw input{font-size:14px;color:#666;background:url(../images/gwc/gwc.png) 0px -150px;border:0;width:82px;height:28px;float:left;cursor:pointer;}
.blo3 .qjs input{background:url(../images/gwc/gwc.png) -100px -150px;margin-left:10px;color:#fff;cursor:pointer;font-size:14px;border:0;width:82px;height:28px;float:left;}
/*.blo7*/
.blo7{float:left;width:100%;border:1px solid #ddd;overflow:hidden;}
.blo7 .title{background:#f6f6f6;border-bottom:1px solid #ddd;height:32px;padding-left:0px;}
.blo7 .title ul{width:1200px;}
.blo7 .title li{width:195px;height:32px;float:left;text-align:center;position:relative;background:url(../images/ejfl/ejfl.png) 0px -100px;margin-right:2px;}
.blo7 .title li q{position:absolute;right:0;color:#ddd;font-size:20px;top:0;}
.blo7 .title li b{float:left;}
.blo7 .title li.on{color:#FFF;background:url(../images/ejfl/ejfl.png) -200px -150px;border:0;border-left:1px solid #ddd;border-right:1px solid #ddd;margin-top:1px;}
.blo7 .title li.on q{display:none;}
.blo7 .module{padding:0;position:static;}
.blo7 .module ul{width:1200px;}
.blo7 .module li{width:196px;float:left;border-left:1px solid #ddd;border-bottom:1px solid #ddd;padding-bottom:5px;}
.blo7 .module li div{width:140px;margin:0 auto;}
.blo7 .module li .img{height:140px;padding-top:5px;margin-top:10px;position:relative;}
.blo7 .module li .img q{position:absolute;top:-7px;right:-19px;width:50px;height:50px;z-index:2;}
.blo7 .module li .img q.xp{background:url(../images/ejfl/ejfl.png) -0px -200px;}
.blo7 .module li .img q.mqjb{background:url(../images/ejfl/ejfl.png) -50px -200px;}
.blo7 .module li .img q.zj{background:url(../images/ejfl/ejfl.png) -100px -200px;}
.blo7 .module li .img q.rm{background:url(../images/ejfl/ejfl.png) -150px -200px;}
.blo7 .module li .img q.xszk{background:url(../images/ejfl/ejfl.png) -200px -200px;}
.blo7 .module li .txt{height:30px;overflow:hidden;line-height:16px;}
.blo7 .module li .btn{height:18px;text-align:center;color:#999;}
.blo7 .module li .btn b{color:#F00;}
.blo7 .module li .input{height:40px;text-align:center;}
.blo7 .module li .input input{margin-top:5px;width:98px;height:30px;background:url(../images/gwc/gwc.png) 0px -200px;border:0;cursor:pointer;}
