@import "base.css";@import "top.css";@import "bottom.css";.con{
	margin:0 auto;
}
body{background:#f7f7f9;}
.block{border:0;}
.main{
	padding-bottom:10px;
	margin-top: -1px;
	background:url(../images/index/bg.png) repeat-x;
}
.txt{color:#404040;}
.txt a{color:#242424;}
.blo1{
	float:left;
	height:510px;
	z-index:-1;
	position:relative;
	width:230px;
	visibility:hidden;
}
.blo2{
	width:670px;
	height:510px;
	position:relative;
	padding-left:0px;
	float:left;
	z-index: 2;
}
/*.blo2*/
#slide1{
	width:670px;
	height:390px;
	position:relative;
}
#slide1 .JQ-content-box{
	width:670px;
	height:390px;
}
#slide1 .JQ-content-box .JQ-slide-content{
	position:absolute;
}
#slide1 .JQ-slide-content li{
	zoom:1;
	width:670px;
	height:390px;
	vertical-align:text-top;
	position:absolute;
	float:left;
	text-align: center;
}
#slide1 .JQ-slide-content li img{}
#slide1 .JQ-slide-nav{position:absolute;height:42px;bottom:10px;right:70px;width:400px;}
#slide1 .JQ-slide-nav ul{z-index:3;position:absolute;right:0px;bottom:0px;}
#slide1 .JQ-slide-nav li{cursor:pointer;float:left;width:25px;text-align:center;line-height:25px;height:25px;margin-right:6px;background:#999;color:#FFF;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;font-weight:bold;}
#slide1 .JQ-slide-nav li.on{background:#ff6600}
#slide1 .JQ-slide-nav .more{position:absolute;top:-5px;left:20px;z-index:2;}
#slide1 .JQ-slide-nav .more a{color:#ddd;}
#slide1 .JQ-slide-nav .bg{z-index:1;background:#000;filter:alpha(opacity=30);left:0;opacity:0.3;width:715px;position:absolute;bottom:0px;height:33px;}
#slide2{
	width:670px;
	height:110px;
	position:relative;
	overflow:hidden;
	margin-top: 8px;
}
#slide2 .JQ-content-box{
	overflow:hidden;
	width:600px;
	height:110px;
	position:relative;
	left:40px;
}
#slide2 .JQ-content-box .JQ-slide-content{position:absolute;}
#slide2 .JQ-slide-content li{
	zoom:1;
	overflow:hidden;
	width:195px;
	height:110px;
	vertical-align:text-top;
	position:relative;
	float:left;
	border-right:2px solid #ddd;
}
#slide2 .JQ-slide-content li img{}
#slide2 .JQ-slide-nav{position:absolute;top:0px;left:0px;}
#slide2 .JQ-slide-nav .prev{
	background:url(../images/index/index.png) 0px 40px no-repeat;
	position:absolute;
	top:10px;
	left:10px;
	z-index:12;
	width:14px;
	height:97px;
}
#slide2 .JQ-slide-nav .next{background:url(../images/index/index.png) -50px 40px no-repeat;position:absolute;top:10px;left:650px;z-index:2;width:14px;height:97px;}
.blo3{
	height:510px;
	float:left;
	position:relative;
	width:250px;
	left:0px;
	margin-top:0px;
	z-index: 10;
	background: #fff;
}
.blo3 .img{margin-bottom:8px;border:1px solid #ddd;}
.blo31{border:1px solid #ddd;margin-bottom:8px;}
.blo31 .title{
	padding:0;
	position:relative;
	width:250px;
}
.blo31 .title ul{}
.blo31 .title li{float:left;width:123px;background:#fbfbfb;border:1px solid #ddd;height:30px;text-align:center;}
.blo31 .title li.on{background:#fff;border:0;}
.blo31 .module{height:100px;width:250px;overflow:hidden;padding-top:4px;}
.blo31 .module li{margin:0;text-align:}
.blo31 .module li img{}
.blo32{border:1px solid #ddd;}
.blo32 .title{
	padding:0;
	position:relative;
	width:250px;
	border-bottom:1px solid #ddd;
}
.blo32 .title ul{}
.blo32 .title li{float:left;width:123px;height:30px;text-align:center;font-size:16px;color:#333;}
.blo32 .title li.on{color:#ab3435;background:#fff;border:0;border-bottom:4px solid #ab3435;border-left:2px solid #ab3435;}
.blo32 .module{width:250px;overflow:hidden;padding-top:15px;padding-bottom:15px;}
.blo32 .module li.li1{height:30px;position:relative;margin-bottom:8px;}
.blo32 .module li.li1 span{width:60px;position:absolute;left:20px;color:#404040;}
.blo32 .module li.li1 input{color:#999;width:134px;height:22px;border:1px solid #ddd;text-indent:5px;line-height:24px;position:absolute;left:80px;}
.blo32 .module li.li1 select{width:80px;border:1px solid #ddd;position:absolute;left:80px;}
.blo32 .module li.li1 select option{height:16px;line-height:16px;}
.blo32 .ljcz{text-align:center;}
.blo32 .ljcz input{width:70px;color:#fff;background:#c50c0e;border:0;height:22px;}
.blo4{float:left;width:100%;border:1px solid #ddd;overflow:hidden;}
.blo4 .title{font-family:"Microsoft Yahei Font ";line-height:35px;height:35px;padding:0;font-size:16px;background:#a11b1c;}
.blo4 .title li{float:left;width:148px;height:35px;text-align:center;font-size:14px;color:#fff;}
.blo4 .title li.on{background:#690000;color:#fff;}
.blo4 .titlemore{color:#0050a4;font-weight:normal;font-size:12px;}
.blo4 .titlemore a{color:#0050a4;}
.blo4 .module{padding-bottom:8px;width:1150px;}
.blo4 .module ul{width:1150px;padding-left:13px;padding-top:3px;}
.blo4 .module li{background:#FFF;float:left;position:relative;border:1px solid #ddd;width:176px;margin-right:12px;}
.blo4 .module li div{margin-left:1px;margin-right:1px;}
.blo4 .module li b{color:#F00;font-weight:normal;}
.blo4 .module li .price{margin-top:5px;padding-left:10px;height:30px;}
.blo4 .module li .price span{margin-left:3px;font-size:18px;font-family:"Microsoft Yahei Font ";color:#F00;}
.blo4 .module li .txt{line-height:20px;padding-left:10px;overflow:hidden;height:40px;}
.blo4 .module li .img{text-align:center;position:relative;padding:6px 0;}
.blo4 .module li .btn{display:block;position:absolute;right:5px;bottom:1px;text-align:right;width:74px;}
.blo4 .module li .btn input{width:74px;height:29px;background:url(../images/index/index.png) -100px 0;cursor:pointer;border:0;text-align:center;font-weight:bold;color:#fff;font-size:16px;}
.blo5{float:left;position:relative;height:130px;overflow:hidden;}
.blo5 .JQ-content-box{
	overflow:hidden;
	width:1150px;
	height:130px;
}
.blo5 .JQ-content-box .JQ-slide-content{position:absolute}
.blo5 .JQ-slide-content li{zoom:1;overflow:hidden;width:1150px;height:130px;vertical-align:text-top;float:left;}
.blo5 .JQ-slide-content li img{}
.blo5 .JQ-slide-nav{position:absolute;height:42px;bottom:9px;right:21px;width:400px;}
.blo5 .JQ-slide-nav ul{z-index:3;position:absolute;right:0px;bottom:0px;}
.blo5 .JQ-slide-nav li{cursor:pointer;float:left;width:16px;text-align:center;line-height:16px;height:16px;margin-right:6px;background:#999;color:#FFF;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;font-weight:bold;}
.blo5 .JQ-slide-nav li.on{background:#ff6600}
.blo6{
	float:left;
	width:280px;
	height:530px;
	position:relative;
	border-right:0;
	overflow: hidden;
}
.blo6 .title{color:#FFF;font-size:18px;padding:0;height:40px;position:relative;overflow:visible!important;overflow:hidden;background:#b00000;line-height:40px;}
.blo6 .title b{height:40px;position:relative;top:0px;line-height:36px;left:10px;display:block;font-weight:bold;}
.blo6 .module{padding:0;height:487px;}
/*blo7*/
.blo7{
	float:left;
	width:700px;
	height:530px;
	overflow:hidden;
	position:relative;
}
.blo7 .title{border-left:2px #690000 solid;background:#b00000;height:40px;overflow:visible;padding-left:0px;}
.blo7 .title ul{position:relative;top:0px;}
.blo7 .title li{width:120px;height:40px;float:left;text-align:center;position:relative;z-index:1;font-size:14px;font-weight:normal;font-family:"微软雅黑";color:#fff;}
.blo7 .title li q{position:absolute;right:0;color:#ddd;font-size:20px;top:0;display:none;}
.blo7 .title li b{float:left;}
.blo7 .title li.on{background:#690000;border:0;position:relative;z-index:30;font-weight:bold;}
.blo7 .title li.on q{display:none;}
.blo7 .module{
	padding:0;
	height:370px;
	overflow:hidden;
	width:700px;
}
.blo7 .module ul{
	width:700px;
}
.blo7 .module li{height:185px;width:175px;float:left;}
.blo7 .module li div{width:140px;margin:0 auto;}
.blo7 .module li .img{text-align:center;padding-bottom:5px;padding-top:10px;position:relative;}
.blo7 .module li .txt{overflow:hidden;line-height:18px;height:40px;}
.blo7 .module li .txt a{color:#666;}
.blo7 .module li .btn{height:18px;color:#999;text-indent:-47px;overflow:hidden;}
.blo7 .module li .btn b{color:#F00;}
.blo7 .image{height:115px;}
.blo7 .image ul{ padding-left:1px; text-align:center;}
.blo7 .image li{ float:left; margin-right:2px;}
.blo8{float:left;width:170px;height:525px;border:1px solid #ddd;position:relative;overflow:hidden;}
.blo8 .JQ-content-box{overflow:hidden;width:170px;height:500px;}
.blo8 .JQ-content-box .JQ-slide-content{position:absolute}
.blo8 .JQ-slide-content li{zoom:1;overflow:hidden;width:170px;vertical-align:text-top;float:left;}
.blo8 .JQ-slide-content li img{}
.blo8 .JQ-slide-nav{position:absolute;height:42px;bottom:9px;right:21px;width:400px;}
.blo8 .JQ-slide-nav ul{z-index:3;position:absolute;right:0px;bottom:0px;}
.blo8 .JQ-slide-nav li{cursor:pointer;float:left;width:16px;text-align:center;line-height:16px;height:16px;margin-right:6px;background:#999;color:#FFF;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;font-weight:bold;}
.blo8 .JQ-slide-nav li.on{background:#ff6600}
