@import "base.css";@import "top.css";@import "bottom.css";.con{width:1201px;margin:0 auto;}
.block{border:0;}
.main{padding-bottom:20px;}
.txt{color:#404040;}
.txt a{color:#404040;}
.blo4{float:left;width:100%;margin-top:20px;border:1px solid #ddd;}
.blo4 .title{font-family:"微软雅黑";background:url(../images/index/index.png) 0px -150px no-repeat;padding-left:20px;line-height:30px;height:30px;}
.blo4 .titlemore{color:#0050a4;font-weight:normal;font-size:12px;}
.blo4 .titlemore a{color:#0050a4;}
.blo4 .module{padding-bottom:8px;}
.blo4 .module ul{width:1300px;padding-left:10px;padding-top:3px;}
.blo4 .module li{width:227px;background:#FFF;margin-right:11px;float:left;position:relative;margin-bottom:10px;padding-bottom:10px;}
.blo4 .module li div{width:197px;margin:0 auto;}
.blo4 .module li b{color:#F00;font-weight:normal;}
.blo4 .module li .txt{line-height:16px;padding:4px 0;height:32px;}
.blo4 .module li .img{text-align:center;position:relative;height:100px;}
.blo4 .module li .img q{width:60px;height:51px;position:absolute;background:url(../images/index/index.png) -1000px -50px;z-index:4;right:4px;top:22px;color:#FFF;font-size:16px;padding-top:25px;font-weight:bold;padding-left:22px;text-align:left;}
.blo4 .module li .time{text-align:center;line-height:22px;padding:8px 0;font-size:14px;font-family:"微软雅黑";color:#666;}
.blo4 .module li .time span{background:#000;color:#FFF;font-size:18px;width:29px;height:26px;background:url(../images/index/index.png) -500px -100px;padding:0 3px;text-align:center;margin:0 3px;}
.blo4 .module li .btime{text-align:center;}
.blo4 .module li .etime{text-align:center;display:none;}
.blo4 .module li .btn{text-align:center;}
.blo4 .module li .btn input{background:url(../images/index/index.png) 0px -100px;width:151px;height:32px;cursor:pointer;border:0;text-align:center;}
.blo4 .module li .btn b{}
.blo4 .module li .btn .z{width:auto;}
.blo4 .module li .btn .y{width:auto;}
