@import "base.css";@import "top.css";@import "bottom.css";.con{
	margin:0 auto;
}
body{}
.block{border:0; }
.main{padding-bottom:10px;}
.txt{color:#404040;}
.txt a{color:#242424;}
.main .htitle{ font-weight:bold; height:30px; line-height:30px; font-size:14px;}
.main .htitle a{ color:#1266bb;}
.blo1{
	float:left;
	height:515px;
	z-index:1;
	position:relative;
	width:634px;
}
.blo1 .imglist{
	margin-right:15px;
	float:left;
	width: 146px;
	height: 515px;
	background:#f3f3f3;
	overflow: hidden;
}
.blo1 .imglist .prev{ width:23px; margin:0 auto; height:15px; display:block; background:url(../images/xxy/xxy.png);}
.blo1 .imglist .next{ width:23px; margin:0 auto; height:15px; display:block;background:url(../images/xxy/xxy.png) 0 -50px;}
.blo1 .imglist .list{
	width:115px;
	position:relative;
	margin:0 auto;
	height: 483px;
	overflow: hidden;
}
.blo1 .imglist ul{}

.blo1 .imglist ul li{
	width:115px;
	height:115px;
	margin-bottom:4px;
	border: 1px solid #ddd;
}
.blo1 .imglist ul li.on{ border:1px solid #ff5a00;}
.blo1 .imgshow{
	float:left;
	width: 470px;
	position: relative;
	 border:1px solid #ddd; 
	text-align: center;
}
.blo1 .imgshow .ckdt{ text-align:center; font-size:18px; font-family:"微软雅黑";  line-height:35px;border-top:1px solid #ddd; }
.blo2{
	width:510px;
	height:515px;
	position:relative;
	padding-left:8px;
	float:left;
}
.blo2 .title{
	font-size:29px;
	font-family:"黑体";
	color: #333;
}
.blo2 .module div{

	font-size:14px;
	font-weight:bold;
	font-family:"微软雅黑";
	letter-spacing: 1px;
	color: #333;
}
.blo2 .module .jg{
	font-size:40px;color:#b00000; font-weight:normal;
}
.blo2 .module .d1h{	padding:0 10px;}
.blo2 .module .d2h{	padding:0 10px; height:40px;line-height:40px;}
.blo2 .module .d3h{	padding:0 10px;height:40px; line-height:40px;}
.blo2 .module .d4h{	padding:0 10px;height:40px;line-height:40px;}
.blo2 .module .d5h{
	padding:5px 10px;
	position: relative;
	height:70px;
	line-height: 40px;
	border-top: 1px solid #ddd;
}
.blo2 .module .d5h .s1{
	width:70px;
}
.blo2 .module .d5h .z1{ width:260px; float:left; margin-top:10px;}
.blo2 .module .d5h .z2{  float:left;}
.blo2 .module .d5h .z2 a{ margin-right:10px;}
.blo2 .module .d5h span{ float:left;}
.blo2 .module .d5h input{
	width:60px;
	height:34px;
	border:1px solid #ddd;
	float: left;
	text-align: center;
}
.blo2 .module .d5h .an{
	width:20px;
	height:34px;
	padding: 0;
	float: left;
	margin-right: 20px;
}
.blo2 .module .d5h .an .prev{
	border:1px solid #ddd;
	width:20px;
	height:15px;
	margin-bottom: 2px;
	display: block;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}
.blo2 .module .d5h .an .next{
	border:1px solid #ddd;
	width:20px;
	height:15px;
	display: block;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}
.blo2 .module .d6h{
	padding-left:80px;
	height:50px;
	border-bottom: 1px solid #ddd;
}
.blo2 .module .d6h .b1{ width:186px; height:35px; background:url(../images/xxy/b1.png); color:#fff; font-family:"微软雅黑"; font-size:16px;}
.blo2 .module .d6h .b2{ width:186px; height:35px; background:url(../images/xxy/b2.png);color:#fff; font-family:"微软雅黑"; font-size:16px; text-indent:30px;}
.blo2 .module .d7h{
	padding:0 10px;
	font-size: 16px;
	letter-spacing: normal;
	height: 40px;
	line-height: 40px;
}
.blo2 .module .d8h{
	padding:5px 10px;
	font-size: 16px;
	letter-spacing: normal;
}
.blo2 .module .d8h .s1{ color:#2876c7; margin-left:20px;}
.blo2 .module .d8h .s1 a{color:#2876c7;}
.blo2 .module .d9h{
	line-height:40px;
	height: 40px;
	margin-top: 30px;
}

.left{ width:245px; float:left;}
.blo3{
	float:left;
	position:relative;
	width:245px;
	margin-top:0px;
	border: 1px solid #ddd;
}
.blo3 .h2{
	font-family:"黑体";
	font-size:14px;
	height:30px;
	color:#000;
	line-height:30px;
	font-weight:bold;
	padding-left:8px;
}
.blo3 .title{
	padding:0;
	color:#FFF;
	position:relative;
	background: #b00000;
	text-align: center;
}

.blo3 .module{
	padding-top:0px;
}

.blo4{
	float:left;
	width: 245px;
	border: 1px solid #ddd;
}
.blo4 .title{ border-bottom:1px #ddd solid;}
.blo4 .module{
	padding-bottom:8px;
}
.blo4 .module ul{
position:relative;
}
.blo4 .module li{
	width: 120px;
	height: 30px;
	display:inline-block;
	float:left;
	overflow: hidden;
	line-height: 28px;
	font-weight:bold;
	font-family:"微软雅黑";
	text-indent:10px;
	font-size:14px;
}
.blo4 .module li a{}


.blo5{
	border:1px solid #ddd;
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
}
.blo5 .title{
		border-bottom:1px solid #ddd;
	height:35px;
	text-indent:10px;
	padding-left:0px;
}
.blo5 .module{
	padding:0;
	padding-top:8px;
	overflow:hidden;
}
.blo5 .module ul{

}
.blo5 .module li{

	float:left;
	width: 245px;

	overflow: hidden;
	margin-right: 20px;
		border-bottom: 1px solid #ddd;
}
.blo5 .module li div{
	width:220px;
	margin:0 auto;

}
.blo5 .module li .img{
	text-align:center;
	padding-top:10px;
	position:relative;
}
.blo5 .module li .txt{
	position:relative;
	line-height:22px;
	height:48px;
	font-size:14px;
	font-weight:bold;
	overflow: hidden;
}

.blo5 .module li .txt a{
}
.blo5 .module li .txt span{
	color:#dc0303;
}
.blo5 .module li .price{ height:25px; font-size:14px; font-weight:bold; font-family:"微软雅黑";}
.blo5 .module li .price span{ color:#b00000;}
.blo5 .module li .btn{
	height:35px;
	color:#999;
	overflow:hidden;
}
.blo5 .module li .btn input{ width:95px; height:25px; background:url(../images/xxy/p4.png) no-repeat; border:0;}

.blo6{
	float:left;
	width:245px;
	border: 1px solid #ddd;
}
.blo6 .title{ border-bottom:1px solid #ddd;}
.blo6 .module{
	padding: 0;

}
.blo6 .module ul{
	width:1170px;
	padding-left:2px;
}
.blo6 .module li{
	float:left;
	position:relative;
	margin-right:7px;
}
.blo6 .module li div{margin-left:1px;margin-right:1px;}
.blo6 .module li b{color:#F00;font-weight:normal;}
.blo6 .module li .price{margin-top:5px;padding-left:10px;height:30px;}
.blo6 .module li .price span{margin-left:3px;font-size:18px;font-family:"Microsoft Yahei Font ";color:#F00;}
.blo6 .module li .txt{
	padding-left:10px;
	overflow:hidden;
	text-align: center;
}
.blo6 .module li .img{
	text-align:center;
	position:relative;
	padding:0;
	border: 1px solid #ddd;
}

/*blo7*/
.blo7{
	float:left;
	width:100%;
	height:530px;
	overflow:hidden;
	position:relative;
}
.blo7 .title{
	border-left:4px #b00000 solid;
	border-bottom:2px solid #b00000;
	height:40px;
	overflow:hidden;
	padding-left:0px;
}
.blo7 .titletext{
	font-size:24px;
	font-family: "微软雅黑";
	text-indent: 15px;
	line-height: 40px;
}
.blo7 .titlemore ul{position:relative;top:0px;}
.blo7 .titlemore li{
	width:auto;
	text-align:center;
	position:relative;
	z-index:1;
	font-size:14px;
	font-weight:normal;
	font-family:"微软雅黑";
	line-height: 50px;
	padding: 0 5px;
	float: left;
}
.blo7 .titlemore li q{position:absolute;right:0;color:#ddd;font-size:20px;top:0;display:none;}
.blo7 .titlemore li b{float:left;}
.blo7 .titlemore li.on{background:#690000;border:0;position:relative;z-index:30;font-weight:bold;}
.blo7 .titlemore li.on q{display:none;}
.blo7 .module{
	padding:0;
	overflow:hidden;
	width:775px;
	padding-left:20px;
	float: left;
}
.blo7 .module ul{width:785px;}
.blo7 .module li{
	width:190px;
	float:left;
	padding-top: 5px;
}
.blo7 .module li div{
	width:160px;
	margin:0 auto;
}
.blo7 .module li .img{text-align:center;padding-bottom:5px;padding-top:10px;position:relative;}
.blo7 .module li .txt{overflow:hidden;line-height:18px;height:40px;}
.blo7 .module li .txt a{color:#666;}
.blo7 .module li .btn{height:18px;color:#999;text-indent:-47px;overflow:hidden;}
.blo7 .module li .btn b{
	color:#F00;
	font-size: 16px;
	font-weight: bold;
}
.blo7 .image{
	float: left;
	padding-top: 15px;
}
.blo8{
	float:left;
	width:100%;
	border:1px solid #ddd;
	position:relative;
	overflow:hidden;
}
.blo8 .title{ border-bottom:1px solid #ddd; height:45px; line-height:45px;background:url(../images/index/index2.png) 0 -3px; font-size:20px;}
.blo8 .titletext{ color:#b00000; line-height:40px; font-size:16px; font-family:"微软雅黑";}
.blo8 .module{
	padding-left: 30px;
}
.blo8 .module ul{ }
.blo8 .module li{
	width:220px;
	float:left;
	height: 280px;

}
.blo8 .module li div{
	width:200px;
	margin:0 auto;
}
.blo8 .module li .img{text-align:center;padding-bottom:5px;padding-top:10px;position:relative;}
.blo8 .module li .txt{overflow:hidden;line-height:18px;height:40px;}
.blo8 .module li .txt a{
	color:#404040;
}
.blo8 .module li .btn{height:18px;color:#999;text-indent:-47px;overflow:hidden;}
.blo8 .module li .btn b{
	color:#F00;
	font-size: 16px;
	font-weight: bold;
}
.blo8 .module li .btn span{
	color:#a3a2a2;
	font-weight:bold;
	float:right;
}
.blo8 .module li .btn span a{ color:#a3a2a2;}
