@import "base.css";@import "top.css";@import "bottom.css";@import "img.css";.con{width:1200px;margin:0 auto;}
.block{border:0;}
.main{background:#fff;width:1200px;margin:0 auto;padding-top:10px;}
.blo1{border:1px solid #ddd;}
.blo1 .title{background:url(../images/tg/tglist.png) 0px 0px;height:40px;line-height:40px;}
.blo1 .title .titletext{color:#b80b02;padding-left:25px;}
.blo1 .title .titlemore{float:left;font-weight:normal;}
.blo1 .title .titlemore a{margin-left:10px;color:#333;}
.blo1 .titlemore a.red{color:#e75c00;}
.blo1 .module{background:#FFF;}
.blo1 .module li{border-bottom:1px dashed #ddd;padding-bottom:8px;float:none;padding-right:20px;}
.blo1 .module label{color:#000;font-weight:bold;float:left;margin-right:3px;width:70px;text-align:right;}
.blo1 .module dt{float:right;width:1100px;margin-bottom:5px;}
.blo1 .module dd{background:#ddd;float:right;width:1100px;padding-bottom:4px;}
.blo1 .module dd label{line-height:24px;height:24px;color:#404040;width:45px;font-weight:normal;text-align:center;}
.blo1 .module a{margin-right:10px;padding:0px 7px;float:left;display:block;margin-bottom:10px;height:24px;color:#069;}
.blo1 .module a.blue{background:#005ea7;color:#FFF;}
.blo1 .module a.blue span{color:#FFF;}
.blo1 .module a span{color:#666;padding-left:2px;}
.blo1 .px{height:30px;clear:both;line-height:26px;}
.blo1 .px label{padding-left:40px;padding-right:15px;}
.blo1 .px a{padding:0 3px;color:#343434;}
.blo1 .px b{font-weight:bolder;color:#7a7a7a;}
.blo2{}
.blo2 a{font-size:14px;}
.blo2 .module{}
.blo2 .module ul{float:none;width:1300px;}
.blo2 .module ul li{width:373px;margin-right:38px;margin-bottom:10px;border:1px solid #fbcaac;float:left;}
.blo2 .module div{}
.blo2 .module .txt{padding-left:25px;padding-right:25px;height:58px;line-height:22px;margin-bottom:0px;margin-top:10px;background:url(../images/tg/tglist.png) 0px -50px;}
.blo2 .module .txt b{color:#b80b02;}
.blo2 .module .img{margin:0 20px;margin-top:10px;}
.blo2 .module .btn{padding-left:25px;padding-right:25px;line-height:40px;font-size:14px;font-weight:bold;color:#404040;height:40px;}
.blo2 .module .btn a{color:#404040;}
.blo2 .module .btn span{color:#e75c00;font-weight:bold;}
.blo2 .module .btn div{font-size:14px;}
.blo2 .module .input{background:url(../images/tg/tglist.png) 0px -150px;height:45px;font-size:28px;color:#FFF;line-height:45px;padding-left:10px;}
.blo2 .module .input b{float:left;}
.blo2 .module .input input{background:url(../images/tg/tglist.png) 0px -220px;width:84px;height:35px;border:0;float:right;margin-top:6px;margin-right:10px;}
.blo3{width:100%;float:left;}
.page{padding-top:1px;float:right;background:#fff;padding-bottom:1px;width:300px;}
.page span{float:left;}
.page a{display:block;float:left;padding-left:9px;padding-right:9px;height:24px;margin:0 2px;line-height:22px;text-align:center;}
.page a.prev{height:22px;padding-left:15px;padding-right:15px;text-align:center;border:1px solid #ddd;display:inline-block;}
.page a.next{height:22px;padding-left:15px;padding-right:15px;text-align:center;border:1px solid #ddd;}
.page a.on{background:#f76706;color:#FFF;font-weight:bold;}
