@import "base.css";@import "top.css";@import "bottom.css";.con{
	margin:0 auto;
}
/*水印*/
.module .img{position:relative;}
.module .img q{
	position:absolute;
	left:0px;
	width:44px;
	height:42px;
	z-index:2;
	float:left;
	top: -5px;
}
.module .img q.dtc{background:url(../images/all/dtc.png);}
.module .img q.myf{background:url(../images/all/myf.png);}
.module .img q:nth-child(1){left:0px;}
.module .img q:nth-child(2){left:40px;}
.block{border:0; }
.main{padding-bottom:10px;}
.txt{color:#404040;}
.txt a{color:#242424;}
.left{ width:886px; padding-top:20px;}
.right{ width:251px;}
.blo1{ border:1px solid #ddd;padding-top:30px; padding-left:30px;}
.blo1 .title{ height:auto; padding:0; padding-right:20px;}
.blo1 .h1{ font-size:40px; font-family:"黑体"; line-height:50px;}
.blo1 .h2{ font-size:30px; color:#7b7b7b; font-family:"黑体"; line-height:35px;}
.blo1 .module{ height:390px;font-family:"微软雅黑"; text-align:center; margin-bottom:10px;}
.blo1 .module .z{ width:580px; height:390px;}
.blo1 .module .y{ width:260px;height:390px; font-size:14px; border:1px solid #ddd;}
.blo1 .mod1{ height:55px;}
.blo1 .mod1 div{  background:#ededed;float:left; border:1px solid #ddd; width:84px;text-align:center; padding-top:8px; padding-bottom:8px;}
.blo1 .mod1 div span.gray{ color:#a7a7a7; font-size:14px;}
.blo1 .mod1 div span{ width:80px; display:block; line-height:20px; font-size:14px;}
.blo1 .mod2{ font-size:34px; color:#f97a13; text-align:center; padding-top:10px; margin-bottom:20px;}
.blo1 .mod3{font-size:16px;font-family:"黑体"; color:#303030; }
.blo1 .mod4{font-size:16px; font-family:"黑体"; line-height:30px; padding-top:10px;color:#474747; font-weight:bold;}
.blo1 .mod4 span{color:#f97a13;line-height:30px; font-size:30px;}
.blo1 .mod5{font-size:14px;font-family:"黑体";line-height:30px; margin-bottom:20px;font-weight:bold;color:#474747;}
.blo1 .mod6{ color:#474747; font-size:26px;font-family:"黑体";  margin-bottom:25px;font-weight:bold;}
