@import "base.css";@import "top.css";@import "bottom.css";.con{width:1201px;margin:0 auto;}
.block{border:0;}
.main{padding-bottom:20px;}
.left{width:150px;float:left;margin-top:10px;}
.right{width:1040px;float:left;position:relative;left:10px;margin-top:10px;}
.left .block{border:1px solid #ddd;border-top:0;margin-bottom:0;}
/*.blo1*/
.blo1{}
.blo1 .title{background:url(../images/wddd/wddd.png) 0px 0px;color:#FFF;height:30px;}
/*.blo2*/
.blo2{border:1px solid #ddd;}
.blo2 .title{background:url(../images/wddd/wddd.png) 0px -50px;padding-left:15px;height:28px;}
.blo2 .titlemore{width:20px;height:20px;cursor:pointer;}
.blo2 .module{padding-top:4px;}
.blo2 .module ul{position:relative;padding-top:5px;}
.blo2 .module li{height:28px;width:100%;display:inline-block;line-height:28px;}
.blo2 .module li a{margin-left:25px;}
.blo2 .module li.on a{font-weight:bold;}
.blo2 .module li q.new{background:url(../images/wddd/wddd.png) 0px -100px;width:40px;display:inline-block;margin-left:10px;}
/*blo3*/
.blo3{border:1px solid #ddd;}
.blo3 .title{height:35px;border-bottom:2px solid #cc0000;color:#cc0000;padding-left:15px;}
.blo3 .module{padding-left:15px;margin-top:15px;float:left;}
.blo3 .module label{color:#404040;}
.blo3 .module a{color:#666;margin-right:15px;}
.blo3 .module a:hover{color:#404040;}
.blo3 .input{float:right;margin-top:15px;padding-right:15px;}
.blo3 .input .text{border:1px solid #ddd;line-height:22px;height:22px;width:200px;text-indent:6px;margin-right:8px;}
.blo3 .input .button{border:0;line-height:22px;height:26px;width:50px;background:url(../images/wddd/wddd.png) -50px -100px;cursor:pointer;}
/*.blo4*/
.blo4{margin-top:15px;}
.blo4 .title{font-weight:normal;border-bottom:2px solid #ffccaa;}
.blo4 .title li{float:left;background:url(../images/wddd/wddd.png) -0px -150px;width:84px;height:34px;text-align:center;margin-right:10px;color:#ff6600;}
.blo4 .title li a{color:#ff6600;font-weight:bold;}
.blo4 .title li.on{background:url(../images/wddd/wddd.png) -0px -200px;color:#FFF;}
.blo4 .title li.on a{color:#FFF;}
.blo4 .table{}
.blo4 .table table{border:1px solid #bfbebf;border-top:0;width:100%;}
.blo4 .table thead{color:#666;font-weight:bold;height:35px;background:url(../images/wddd/wddd.png) 0px -250px;line-height:35px;}
.blo4 .table thead td{color:#92000e;border-right:1px solid #ddd;}
.blo4 .table tbody td{border-bottom:1px dashed #ddd;border-right:1px solid #ddd;}
.blo4 .table tbody .d1{color:#06C;}
.blo4 .table tbody .d1 input{margin-left:20px;}
.blo4 .table tbody .d2{color:#06C;text-indent:10px;vertical-align:middle;}
.blo4 .table tbody img{float:left;border:1px #ddd solid;vertical-align:middle;}
.blo4 .table tbody .d3{font-size:14px;color:#cb120d;padding-left:10px;}
.blo4 .table tbody .d4{text-align:center;}
.blo4 .table tbody .d4 input{width:50px;height:20px;float:left;margin-right:5px;}
.blo4 .table tbody .d4 span{width:20px;float:left;}
.blo4 .table tbody .d4 q{border:1px solid #ddd;line-height:15px;text-align:center;font-size:12px;font-weight:bold;cursor:pointer;padding-left:3px;padding-right:3px;height:15px;width:10px;margin-right:10px;margin-bottom:5px;display:table-row;float:left;}
.blo4 .table tbody .d5{font-size:14px;}
.blo4 .table tbody .d6 b{line-height:20px;font-weight:normal;margin-right:10px;}
.blo4 .table tfoot{background:#f3f3f3;height:52px;text-align:right;line-height:52px;}
.blo4 .table tfoot .ft1{font-size:14px;font-weight:bold;padding-left:10px;color:#666;cursor:pointer;}
.blo4 .table tfoot .ft2{font-size:14px;font-weight:bold;color:#666;}
.blo4 .table tfoot label{margin-right:10px;}
.blo4 .table tfoot label span{color:#d20000;font-weight:bold;}
.btn{ color:#F00; background:url(../images/btn.png); width:46px; height:24px; line-height:24px;}
/*table*/
.table1 table{border:1px solid #ddd;padding:0;margin:0 auto;border-collapse:collapse; }
.table1 td{border:1px solid #ddd;background:#fff;font-size:12px;padding:3px 3px 3px 8px;color:#4f6b72;line-height:22px;}
.table1 th{text-align:center;}
.table2 table{border:1px solid #ddd;padding:0;margin:0 auto;border-collapse:collapse; }
.table2 td{border:1px solid #ddd;background:#fff;font-size:12px;padding:3px 3px 3px 8px;color:#4f6b72;line-height:22px;}
.table2 th{text-align:center;}