@charset "utf-8";.bottom{background:url(../../images/tgimg/oy3.jpg) repeat-x;height:220px;width:1210px;margin:0 auto;}
.bottom .con{width:1060px;}
.bottom .fo1 .title{background:url(../../images/tgimg/tgl5.png) no-repeat;padding-left:35px;}
.bottom .fo2 .title{background:url(../../images/tgimg/tgl5.png) no-repeat 0 -40px;padding-left:35px;}
.bottom .fo3 .title{background:url(../../images/tgimg/tgl5.png) no-repeat 0 -80px;padding-left:35px;}
.bottom .fo4 .title{background:url(../../images/tgimg/tgl5.png) no-repeat 0 -120px;padding-left:35px;}
.bottom .fo5 .title{background:url(../../images/tgimg/tgl5.png) no-repeat 0 -160px;padding-left:35px;}
.bottom .block{float:left;width:200px;padding-left:10px;margin-top:20px;height:142px;}
.bottom .block ul{margin-left:10px;line-height:22px;border-left:1px dashed #999;padding:0px 0px 20px 20px;}
.bottom .con1{text-align:center;height:60px;line-height:60px;clear:both;}
