@charset "utf-8";.bottom{background:url(../../images/tgimg/oy3.jpg) repeat-x;height:220px;}
.bottom .block{float:left;width:192px;padding-left:10px;margin-top:20px;height:142px;}
.bottom .block ul{margin-left:10px;line-height:22px;}
.bottom .con1{text-align:center;height:60px;line-height:60px;}
