@import "base.css";@import "top.css";@import "bottom.css";/*全局的样式*/
.con{width:810px;margin:0 auto;}
.block{border:0;}
.blo1{width:810px;margin:30px auto;}
.blo1 .title{height:43px;background:url(../../images/tgimg/oy4.png);}
.blo1 .title .titletext{color:#FFF;font-size:16px;line-height:42px;padding-left:10px;}
.blo1 h3{
	margin:0;
	background:#f3f3f3;
	font-size:14px;
	line-height:22px;
	padding-top:10px;
	padding-bottom:10px;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	height: 26px;
}
.blo1 h3 label{margin-left:10px;}
.blo1 h3 input{width:200px;height:24px;border:1px solid #ddd;padding-left:5px;line-height:22px;margin-right:8px;color:#404040;}
.blo1 h3 input.btn{width:69px;border:0;height:26px;background:url(../../images/tgimg/oy5.jpg);cursor:pointer;}
.blo1 .module{background:#f3f3f3;}
.blo1 .module table{width:100%;border:1px solid #ddd;border-top:0;}
.blo1 .module table thead{background:#FFF;font-size:14px;font-weight:bold;}
.blo1 .module table thead td{font-size:14px;border-right:1px solid #efefef;}
.blo1 .module table thead tr{height:30px;}
.blo1 .module table tbody tr{height:90px;}
.blo1 .module table tbody tr.b{background:#FFF;}
.blo1 .module table tbody td{font-size:14px;border-right:1px solid #efefef;}
.page{float:right;margin-top:10px;}
.page span{float:left;}
.page a{display:block;float:left;padding-left:9px;padding-right:9px;height:24px;margin:0 2px;line-height:22px;text-align:center;}
.page a.prev{height:22px;padding-left:15px;padding-right:15px;text-align:center;border:1px solid #ddd;}
.page a.next{height:22px;padding-left:15px;padding-right:15px;text-align:center;border:1px solid #ddd;}
.page a.on{background:#f76706;color:#FFF;font-weight:bold;}
img.xx1{clip:rect(0px,30px,0px,0px);}
